<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <script src="/js/scripts.js"></script>
</head>
<body>
    <div id="productView">
        <table class="product-table">
            <tr>
                <td colspan="2">
                    <div class="image-gallery">
                        <div th:each="image : ${product.images}">
                            <img th:src="@{/upload/productImages/{url}(url=${image})}" alt="Product Image">
                        </div>
                    </div>
                </td>
            </tr>
            <tr><th>Title</th><td th:text="${product.title}"></td></tr>
            <tr><th>Description</th><td th:text="${product.description}"></td></tr>
            <tr><th>Price</th><td th:text="${product.price}"></td></tr>
            <tr><th>Date</th><td th:text="${product.creationDate}"></td></tr>
            <td>
                <a th:href="@{/customers/profile/{uuid}(uuid=${product.customerUUID})}" class="view-link">get in touch with seller</a>
            </td>
            <tr>
                <td colspan="2">
                    <form method="GET" th:action="@{/products/delete/{uuid}(uuid=${product.uuid})}" th:if="${currentUser == productOwner}">
                        <button type="submit" class="delete-btn">Delete Product</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <form method="POST" th:action="@{/customers/favorite/{uuid}(uuid=${product.uuid})}"
                          th:if="${currentUser != null and !currentUser.isBlank() and currentUser != productOwner}">
                        <button type="submit" class="delete-btn">favorite</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;" th:if="${currentUser == productOwner}">
                    <button type="button" class="sell-btn" onclick="toggleProductEditForm()">Edit Product</button>
                </td>
            </tr>
        </table>
        <div style="text-align: center; margin-top: 40px;">
            <a th:href="@{/products/}" class="sell-btn">Back to Home</a>
        </div>
    </div>
    <div id="productViewEditForm" style="display: none;">
        <h2 style="text-align: center; margin-bottom: 30px;">Edit Product</h2>

        <form th:action="@{/products/productInfo/update-product/{uuid}(uuid=${product.uuid})}" th:object="${productRequest}" method="post" enctype="multipart/form-data">
            <table class="product-table">
                <tr>
                    <th>Title</th>
                    <td><input type="text" name="title" th:field="*{title}" required minlength="5"/></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td><input type="text" name="description" th:field="*{description}" required/></td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td><input type="number" step="0.01" name="price" th:field="*{price}" required/></td>
                </tr>
                <tr>
                    <th>Image 1</th>
                    <td><input type="file" name="images" accept="image/*" th:value="${product.images[0]}"/></td>
                </tr>
                <tr>
                    <th>Image 2</th>
                    <td><input type="file" name="images" accept="image/*"/></td>
                </tr>
                <tr>
                    <th>Image 3</th>
                    <td><input type="file" name="images" accept="image/*"/></td>
                </tr>
            </table>

            <div style="text-align: center; margin-top: 20px;"  th:if="${currentUser == productOwner}">
                <button type="submit" class="sell-btn">Save Changes</button>
                <button type="button" onclick="toggleProductEditForm()" class="delete-btn" style="margin-left: 10px;">Cancel</button>
            </div>
        </form>
    </div>
</body>
</html>