<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <script src="/js/scripts.js"></script>
</head>
<body>

<div class="top-bar">
    <form method="get" th:action="@{/products/}" class="search-product">
        <label for="search" class="sr-only">Search</label>
        <input type="text" id="search" name="search" placeholder="Search...">
        <button type="submit" class="btn">Search</button>
    </form>

    <div class="user-section" th:if="${userPrincipal == null}">
        <a th:href="@{/security/registration}" class="register-link">register</a>
    </div>

    <div class="user-section" th:if="${userPrincipal != null}">
        <a th:href="@{/customers/profile/{url}(url=${customer.uuid})}" class="user-icon" title="Profile">
            <img th:src="@{/upload/customerAvatars/{url}(url=${customer.avatar_url})}" alt="User"/><br>
            <h3>User profile</h3>
        </a>
    </div>
</div>

<div class="product-wrapper">
    <div class="product-container">
        <table>
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${productList}"
                    class="clickable-row"
                    th:attr="data-uuid=${product.uuid}">
                    <td>
                        <img th:if="${product.images != null and !product.images.isEmpty()}"
                             th:src="@{/upload/productImages/{url}(url=${product.images[0]})}"
                             alt="Preview"
                             style="width:250px; height:250px; object-fit:cover; border-radius:4px;"/>
                    </td>
                    <td th:text="${product.title}">Title</td>
                    <td th:text="${product.description}">Description</td>
                    <td th:text="${product.price}">Price</td>
                    <td th:text="${product.creationDate}">Date</td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <ul>
                <li th:if="${page.hasPrevious()}">
                    <a th:href="@{/products/(page=${page.number - 1}, size=${page.size}, search=${search != null ? search : ''})}">Previous</a>
                </li>

                <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                    th:classappend="${i == page.number} ? 'active'">
                    <a th:href="@{/products/(page=${i}, size=${page.size}, search=${search != null ? search : ''})}"
                       th:text="${i + 1}">Page number</a>
                </li>

                <li th:if="${page.hasNext()}">
                    <a th:href="@{/products/(page=${page.number + 1}, size=${page.size}, search=${search != null ? search : ''})}">Next</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="action-buttons">
        <a th:href="@{/products/sell-product}" class="btn sell-btn">Sell Product</a>
    </div>
</div>

</body>
</html>